@media screen and (max-width:760px){
    .cabecalho{
        flex-direction: column;

    }

    .conteudo{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: auto;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
    }
}
